
.parallax-event {
  background: url('../img/home/12.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
}
/* styles.css */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .modal-content {
    background: url('../img/bg&icons/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 20px 20px 20px 7%;
    border-radius: 5px;

    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 500px;

    overflow: scroll;
    z-index: 11;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  



@media screen and (max-width: 870px) {
    .modal-content {
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%,-50%);

        width: calc(100% - 100px);
    }
}

/* @media screen and (max-width: 450px) {
    .modal-content {
        left: 53%;
    }
} */





/* reserve now form popup */
.reserve-form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    /* padding:25px; */
    /* min-height: 100vh; */
    /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
  }
  
  .reserve-form-container form{
    padding: 5px 20px 20px 20px;
    width: 100%;
    background: #fff;
    /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
  }
  
  .reserve-form-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .reserve-form-container form .row .col{
    flex:1 1 250px;
    /* padding: 20px 5px 5px 5px; */
  }
  
  .reserve-form-container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .reserve-form-container form .row .col .inputBox{
    margin:10px 0;
  }
  
  .reserve-form-container form .row .col .inputBox span{
    margin-bottom: 5px;
    display: block;
  }
  
  .reserve-form-container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .reserve-form-container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .reserve-form-container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .reserve-form-container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .reserve-form-container form .row .col .inputBox img{
    height: 31px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .reserve-form-container form .save-btn,
  .reserve-form-container form .order-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .reserve-form-container form .save-btn:hover,
  .reserve-form-container form .order-btn:hover{
    background: #2ecc71;
  }
  

  .textarea-container {
    width: 100%; 
    max-width: 600px;
    margin: 10px auto; 

  }
  textarea {
    width: 100%; 
    min-height: 60px; 
    max-height: 300px; 
    resize: vertical; 
    box-sizing: border-box; 
  }

  .reserve-form-container form .row .col .inputBox select{
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #ccc;
    color: gray;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }

  .reserve-form-container form .row .col .inputBox select option {
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid #ccc;
    color: gray;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }

  .card-container .top-package-title h2{
    font-size:30px;
}